#!/usr/bin/env bash
# hash: {{ include "packages-arch.txt" | sha256sum }}
{{- if eq .chezmoi.os "linux" }}
{{- if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "cachyos") (eq .chezmoi.osRelease.id "manjaro") }}
sudo pacman -S --needed --noconfirm - < "{{ .chezmoi.sourceDir }}/packages-arch.txt"
{{- end }}
{{- end }}
