{{- if eq .chezmoi.hostname "jotform" }}
Include ~/.config/jotform-private/ssh/config
{{- else if or (eq .chezmoi.hostname "mrt") (eq .chezmoi.hostname "cachyos") }}
Include ~/.config/personal-private/ssh/config
{{- end }}
